<div class="menu">
   <button mat-button [matMenuTriggerFor]="clientsMenu">
      <div class="menu-title">Clientes</div>
   </button>
   <mat-menu #clientsMenu="matMenu" yPosition="below">
      <button mat-menu-item (click)="navigateTo('clients/new-client')">cadastro</button>
      <button mat-menu-item (click)="navigateTo('clients/list')">Listagem</button>
   </mat-menu>

   <button mat-button [matMenuTriggerFor]="scheduleMenu">
      <div class="menu-title">Agendar</div>
   </button>
   <mat-menu #scheduleMenu="matMenu" yPosition="below">
      <button mat-menu-item (click)="navigateTo('schedules/month')">Calendário</button>
   </mat-menu>
</div>
